body{background-color: dimgrey;}

h1, h3{
font-family:Papyrus, sans-serif;
color: firebrick;
text-shadow: 1px 1px 1px black,
             2px 2px 1px black;
text-align: center;
}

p{
font-family:Helvicta, sans-serif;
text-align: center;
}

#btn1, #btn2{
text-align:center;
{






